In [66]:
dict1={'fav_m':'duhi','name':'harshit','age':24,'college':'amity',}
dict1

{'fav_m': 'duhi', 'name': 'harshit', 'age': 24, 'college': 'amity'}

In [67]:
dict2={
    'name':'asheesh',
    'age':17,
    'college':'ssvgi'
}

In [68]:
dict2

{'name': 'asheesh', 'age': 17, 'college': 'ssvgi'}

In [69]:
dict1.update(dict2)

In [70]:
dict1

{'fav_m': 'duhi', 'name': 'asheesh', 'age': 17, 'college': 'ssvgi'}

In [71]:
dict2['name']='ASHEESH'

In [39]:
dict2

{'name': 'ASHEESH', 'age': 17, 'college': 'ssvgi'}

In [40]:
k=dict2.popitem()

In [41]:
k

('college', 'ssvgi')

In [42]:
dict2

{'name': 'ASHEESH', 'age': 17}

In [43]:
dict2

{'name': 'ASHEESH', 'age': 17}

In [52]:
k=dict1.pop('name')

In [48]:
dict1

{'age': 24, 'college': 'amity'}

In [53]:
k

'harshit'

In [74]:
d=dict.fromkeys(('name','age','height'),['asp',24,843])
d

{'name': ['asp', 24, 843], 'age': ['asp', 24, 843], 'height': ['asp', 24, 843]}

In [75]:
d['age']

['asp', 24, 843]

In [76]:
d['jhsadg']

KeyError: 'jhsadg'

In [78]:
print(d.get('iushd'))

None

In [82]:
l=[]
if l:
    print('present')
else:
    print('ksdjh')

ksdjh

In [83]:
d1=d

In [84]:
d1 is d

True

In [85]:
d is d1

True

In [86]:
d1==d

True

In [88]:
d_view=d.copy()

In [89]:
d_view

{'name': ['asp', 24, 843], 'age': ['asp', 24, 843], 'height': ['asp', 24, 843]}

In [90]:
d1['ghas']='iudwyeuiw'

In [91]:
d_view

{'name': ['asp', 24, 843], 'age': ['asp', 24, 843], 'height': ['asp', 24, 843]}

In [92]:
d1

{'name': ['asp', 24, 843],
 'age': ['asp', 24, 843],
 'height': ['asp', 24, 843],
 'ghas': 'iudwyeuiw'}

In [93]:
d2_view=d

In [94]:
d

{'name': ['asp', 24, 843],
 'age': ['asp', 24, 843],
 'height': ['asp', 24, 843],
 'ghas': 'iudwyeuiw'}

In [95]:
d2_view

{'name': ['asp', 24, 843],
 'age': ['asp', 24, 843],
 'height': ['asp', 24, 843],
 'ghas': 'iudwyeuiw'}

In [96]:
d2_view['name']='python'

In [97]:
d

{'name': 'python',
 'age': ['asp', 24, 843],
 'height': ['asp', 24, 843],
 'ghas': 'iudwyeuiw'}

In [101]:
def fun(n):
    return {i:i**3 for i in range(1,n+1)}

In [102]:
fun(5)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [103]:
def fun1(name):
    return {i:name.count(i) for i in name}

In [106]:
fun1('asheesh')

{'a': 1, 's': 2, 'h': 2, 'e': 2}

In [107]:
def fun3(name):
    return {i:name.index(i) for i in name}

In [108]:
fun3('asheesh')

{'a': 0, 's': 1, 'h': 2, 'e': 3}

In [110]:
l=[1,2,3]
sum(l)

6

In [3]:
s={1,2,3,4}
for var in s:
    print(s)

{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}

In [5]:
l=[1,2,3,4]
for i in l:
    print(i)

1
2
3
4

In [6]:
#how to take input in dictionary

In [1]:
d33={}
key=input('key:')
d33[key]=input('value:')

key:developer
value:ashesh

In [14]:
g={}
g[input('key:')]=input('value:')

value:3443443
key:f

In [15]:
g

{'f': '3443443'}

In [2]:
d33

{'developer': 'ashesh'}

In [7]:
s1={1,2,3,4}
s2={5,6,7,8}
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
s1|s2

{1, 2, 3, 4, 5, 6, 7, 8}

In [10]:
s1&s2

set()

In [11]:
s1.intersection(s2)

set()

In [14]:
s1.intersection_update(s2)

In [15]:
s1

set()

In [20]:
[range(1,4)]

[range(1, 4)]

In [19]:
list(range(1,4))

[1, 2, 3]

In [27]:
[i for i in range(1,5) for j in range(0,3)]

[1, 1, 1, 2, 2, 2, 3, 3, 3, 4, 4, 4]

In [39]:
for i in '12345':
    for j in range(1,5):
        print(i,end=' ')
    print()

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4
5 5 5 5

In [51]:
print('\n'.join(['2'*i if i%2==0 else '1'*i for i in range(1,50)]))

1
22
111
2222
11111
222222
1111111
22222222
111111111
2222222222
11111111111
222222222222
1111111111111
22222222222222
111111111111111
2222222222222222
11111111111111111
222222222222222222
1111111111111111111
22222222222222222222
111111111111111111111
2222222222222222222222
11111111111111111111111
222222222222222222222222
1111111111111111111111111
22222222222222222222222222
111111111111111111111111111
2222222222222222222222222222
11111111111111111111111111111
222222222222222222222222222222
1111111111111111111111111111111
22222222222222222222222222222222
111111111111111111111111111111111
2222222222222222222222222222222222
11111111111111111111111111111111111
222222222222222222222222222222222222
1111111111111111111111111111111111111
22222222222222222222222222222222222222
111111111111111111111111111111111111111
2222222222222222222222222222222222222222
11111111111111111111111111111111111111111
222222222222222222222222222222222222222222
1111111111111111111111111111111111111111111
22222222222222222222222222222222222222222222
111111111111111111111111111111111111111111111
2222222222222222222222222222222222222222222222
11111111111111111111111111111111111111111111111
222222222222222222222222222222222222222222222222
1111111111111111111111111111111111111111111111111

In [54]:
2%2

0

In [55]:
0%2

0

In [58]:
for i in range(0,5):
    for j in range(0,5):
        if i==0 and j==3:
            print('*')
        elif i==1:
            print('*',end='')

*
*****

In [62]:
for i in range(0,5):
    for j in range(0,5):
        if j==0:
            print('*')
        if j==1 or j==2 or j==3:
            print('')
        else:
            print('')

*





*





*





*





*

In [8]:
for row in range(0,7):
    for col in range(0,5):
        if (col==0 or col==4) and row!=0 or (row==0 and (col!=0 and col!=4)) or row==3:
            print('*',end=' ')
            
        else:
            print(' ',end=' ')
    print()

  * * *
*       *
*       *
* * * * *
*       *
*       *
*       *

In [7]:
for row in range(7):
    for col in range(5):
        if (row==0 and col!=4) or (row==6 and col!=4) or (row==3 and col!=4) or (row==1 and col==4) or (row==2 and col==4) or (row==4 and col==4) or (row==5 and col==4) or col==0:
            
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

* * * *
*       *
*       *
* * * *
*       *
*       *
* * * *

In [37]:
for row in range(9):
    for col in range(5):
        if col==0 and (row!=0 and row!=1 and row!=7 and row!=8) or (row==0 and (col!=0 and col!=1)) or (col==1 and row==1) or (row==7 and col==1) or (row==8 and (col!=0 and col!=1) ) :
       
                                                                                      
            print('*',end=' ')
        else:
            print(' ',end=' ')
    print()

    * * *
  *
*
*
*
*
*
  *
    * * *

In [20]:
for row in range(9):
    for col in range(5):
        if col==0 or (row==0 and (col==0 or col==1)) or  (row==8 and (col==0 or col==1)) or (row==1 and col==3) or (row==2 and col==4)or (col==4 and (row==3 or row==4 or row==5 or row==6))or (row==6 and col==4) or (row==7 and col==3):
            
            print('*',end=' ')
        else:
            print(' ',end='')
    print()

* *
*   *
*    *
*    *
*    *
*    *
*    *
*   *
* *

In [14]:
for row in range(0,9):
    for col in range(0,5):
        if col==0 or row==0 or row==4 or row==8:
            print(' *',end='')
        else:
            print('',end='')
    print()

 * * * * *
 *
 *
 *
 * * * * *
 *
 *
 *
 * * * * *

In [16]:
for row in range(0,9):
    for col in range(0,5):
        if col==0 or row==0 or row==4:
            print(' *',end='')
        else:
            print('',end='')
    print()

 * * * * *
 *
 *
 *
 * * * * *
 *
 *
 *
 *

In [49]:
for row in range(0,10):
    for col in range(0,9):
        if row==9 and col==0:
            print('*',end='')
        else:
            print('',end='')
    print()

*